.list {
    display: flex;
    flex-wrap: wrap;
    li {
        background: #fff;
        max-width: 306px;
        width: 100%;
        padding: 40px 24px 30px 24px;
        border-radius: 16px;
        img {

        }
    }
}