.works {
    background: #070706;
    padding: 140px 0px 140px 0px;
    margin-bottom: 140px;

    .container {
        max-width: 1336px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .works_top {
        max-width: 736px;
        width: 100%;
        margin-bottom: 56px;
        h4 {
            font-weight: 700;
            font-size: 64px;
            line-height: 72px;
            color: #FFFFFF;
            margin-bottom: 16px;
        }

        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }
}