.it {
  background: #070706;
  padding: 140px 0px 140px 0px;
  margin-bottom: 140px;

  .container {
    max-width: 1336px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .it_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    .it_left {
      max-width: 580px;
      width: 100%;

      .top {
        margin-bottom: 64px;
        span {
          color: #ff8911;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 16px;
        }

        h3 {
          color: #ffffff;
          font-size: 64px;
          line-height: 72px;
          margin-bottom: 16px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
          color: #fff;
        }
      }

      ul {
        li {
          display: flex;
          align-items: flex-start;
          gap: 24px;
          margin-bottom: 40px;
          div {
            h6 {
              font-size: 24px;
              line-height: 28px;
              color: #fff;
            }

            p {
              font-size: 14px;
              line-height: 23px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
